
.note-show {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  width: calc(100vw - 225px - 350px);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.editor {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  overflow: scroll;
  height: calc(100vh - 41px - 49px - 40px);
}

.editor-title-input {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  margin-top: 10px;
  padding-left: 30px;
  width: 100%;
  height: 50px;
  font-size: 27px;
  border: 0px;
}

.text-editor {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  padding: 30px;
  min-height: calc(100vh - 41px - 49px - 40px - 60px)
}

.code-block {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
  background-color: rgb(220, 220, 220);
  border-radius: 4px;
  padding: 3px;
}

.highlight-block {
  background-color: #aff;
  border-radius: 4px;
  padding: 1px;
}

.ordered-list, .unordered-list {
  margin: 5px;
}

.note-show-topbar {
  padding: 20px 20px 10px 30px;
  
  display: flex;
  justify-content: space-between;
}

.note-show-notebook-link {
  text-decoration: none;
  color: #999;
  font-weight: 500;
  text-transform: uppercase;
}

.note-show-notebook-link:hover {
  color: #333;
}

.note-show-more-actions-button {
  opacity: 0.5;
}

.note-show-more-actions-button:hover {
  opacity: 1;
  cursor: pointer
}

.note-show-tagbar {
  border-top: 1px solid #ddd;
  height: 40px;
  background-color: #fff;
  z-index: 80;
  padding-left: 30px;
  color: #999;

  display: flex;
  align-items: center;
}

.nsmadr {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  color: #ccc;
  position: absolute;
  top: 30px;
  right: 40px;
  background-color: #fff;
  padding: 15px;
  width: 200px;
  box-shadow: 0 0 3px #ccc;
  border-radius: 2px;
  z-index: 10;

  display: none;
}

.nsmadr p {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  color: #555;
  padding: 5px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 10px;
}

.visible {
  display: block;
}
