
.front-page {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.impact {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  height: 600px;
  width: 100%;
  padding: 0px 60px;
  background-color: #3a4;

  display: flex; 
  justify-content: center;
  align-items: center;
}

.impact-text {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  padding: 40px;
  margin-right: 20px;
}

.impact-text h2 {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  font-size: 35px;
  line-height: 50px;
  padding: 7px 0px;
  color: white;
}

.impact-text p {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 30px;
  color: white;
}

.impact img {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  height: 350px;
  width: auto;
}

.impact-button {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  height: 50px;
  width: 300px;
  color: green;
  text-transform: uppercase;
  border: 0px;
  border-radius: 2px;
  font-weight: 600;
  background-color: white;
}

.impact-button:hover {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  cursor: pointer;
}


.focus {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  height: 600px;
  width: 100%;
  padding: 20px 60px;
  background-color: #eee;

  display: flex; 
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.focus h2 {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  font-size: 30px;
  font-weight: 600;
  color: #333;
}

.focus-text {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.focus-text p {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  font-size: 25px;
  line-height: 35px;
  width: 300px;
  margin: 0px 20px;
  color: #999;
}


.anywhere {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  height: 600px;
  width: 100%;
  padding: 0px 60px;
  background-color: #fff;

  display: flex; 
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.anywhere-text {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  padding-bottom: 60px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.anywhere-text h2 {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  font-size: 40px;
  font-weight: 600;
}

.anywhere-text p {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  font-size: 25px;
}


.remember {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  height: 600px;
  width: 100%;
  padding: 0px 60px;
  background-color: #ccc;

  display: flex; 
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.remember-text {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  width: 400px;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.remember-text h2 {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  font-size: 35px;
  line-height: 50px;
  color: green;
}

.remember-text p {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  font-size: 22px;
  line-height: 35px;
  color: green;
}

.plan-link {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  text-transform: uppercase;
  color: #f77;
  font-weight: 600;
  font-size: 25px;
}

.remember img {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  height: 400px;
  width: auto;
}


.organize {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  height: 600px;
  width: 100%;
  padding: 0px 60px;
  background-color: #9e9;

  display: flex; 
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.organize img {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  height: 400px;
  width: auto;
}

.organize-text {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  width: 400px;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.organize-text h2 {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  font-size: 35px;
  line-height: 50px;
}

.organize-text p {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  font-size: 22px;
  line-height: 35px;
}


.collaborate {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  height: 600px;
  width: 100%;
  padding: 0px 60px;
  background-color: #3a4;

  display: flex; 
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.collaborate img {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  height: 400px;
  width: auto;
}

.collaborate-text {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  width: 400px;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.collaborate-text h2 {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  font-size: 35px;
  line-height: 50px;
  color: #eee;
}

.collaborate-text p {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  font-size: 22px;
  line-height: 35px;
  color: #eee;
}


.compare {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  height: 150px;
  width: 100%;
  padding: 0px 60px;
  background-color: #efe;

  display: flex; 
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.compare button {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  height: 50px;
  width: 300px;
  color: white;
  text-transform: uppercase;
  border: 0px;
  border-radius: 2px;
  font-weight: 600;
  background-color: green;
}

.compare button:hover {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  cursor: pointer;
}


.testimony {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  height: 350px;
  width: 100%;
  padding: 0px 60px;
  background-color: #fff;

  display: flex; 
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.testimony-images {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.testimony-images img {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  height: auto;
  width: 150px;
  margin: 0px 50px;
  opacity: 0.6;
}

.testimony-images img:hover {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  opacity: 1.0;
}

.testimony-text {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  font-size: 20px;
}


.how-it-works {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  height: 600px;
  width: 100%;
  padding: 0px 60px;
  background-color: #eee;

  display: flex; 
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.how-it-works h2 {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  font-size: 35px;
  font-weight: 500;
}

.how-block {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.how-block img {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  height: 125px;
  width: auto;
}

.how-block div {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 250px;
  margin: 0px 20px;
  text-align: center;
}

.how-it-works button {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  height: 50px;
  width: 300px;
  color: white;
  text-transform: uppercase;
  border: 0px;
  border-radius: 2px;
  font-weight: 600;
  background-color: green;
}

.how-it-works button:hover {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  cursor: pointer;
}


.popular-features {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  height: 600px;
  width: 100%;
  padding: 0px 60px;
  background-color: #fff;

  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popular-features h2 {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  font-size: 35px;
  font-weight: 500;
}

.popular-links img {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  height: 125px;
  width: auto;
}

.popular-links {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin-top: 130px;
}

.p-link {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  margin: 0px 80px;
}


.footer {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  height: 300px;
  width: 100%;
  padding: 0px 60px;
  background-color: #eee;

  display: flex; 
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
