
.notebook-show {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  border-right: 1px solid #aaa;
  width: 350px;
  height: 100vh;
  background-color: #f4f4f4;

  display: flex;
  flex-direction: column;
}

.notebook-show-box {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  width: 100%;
  height: 150px;
  border-bottom: 1px solid #aaa;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.notebook-show-box h3 {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  padding: 30px;
  font-size: 23px;
  font-weight: 500;
}

.notebook-show-box-bottom {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  width: 90%;
  justify-self: center;
  align-self: center;
  margin-bottom: 10px;
  position: relative;

  display: flex;
  justify-content: space-between;
}

.notebook-show-box-buttons {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  width: 120px;
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notebook-show-box-buttons img {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  height: 20px;
  width: 20px;
}

.notebook-show-box-buttons img:hover {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  cursor: pointer;
}

.notebook-more-actions-button:hover {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  cursor: pointer;
}

.notebook-show-more-actions-dropdown {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  color: #ccc;
  position: absolute;
  top: 27px;
  left: -75px;
  background-color: #fff;
  padding: 15px;
  width: 200px;
  box-shadow: 0 0 3px #ccc;
  border-radius: 2px;
  z-index: 10;

  display: none;
}

.notebook-show-more-actions-dropdown p {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  color: #555;
  padding: 5px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 10px;
}

.notebook-show-dropdown-buttons {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  color: #111;
}

.update-notebook-button, .destroy-notebook-button {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  padding: 10px;
  margin: -5px;
}

.dead-destroy-notebook-button {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  padding: 10px;
  margin: -5px;
  color: #ccc;
}

.update-notebook-button:hover, .destroy-notebook-button:hover {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  cursor: pointer;
  background-color: #eee;
}
