
.notes-index {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  width: 100%;
  height: calc(100vh - 150px);
  overflow: scroll;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.notes-index-item {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  width: 100%;
  height: 125px;
  border-bottom: 1px solid #aaa;
  padding: 20px 20px 10px 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.notes-index-item:hover {
  background-color: #eee;
}

.notes-index-item-active {
  background-color: #ddd;
}

.notes-index-item-active:hover{
  background-color: #ddd;
}

.notes-index-item h3 {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 5px;
}

.notes-index-item p {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  font-weight: 400;
  color: #555;
  font-size: 14px;
  margin-bottom: 5px;
  height: 40px;
  width: 300px;
  word-wrap: break-word;
}

.notes-index-item span {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  font-weight: 400;
  color: #999;
  font-size: 14px;
}
