
.sidebar {
  height: 100vh;
  width: 225px;
  background-color: #1a1a1a;
  padding: 10px;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.username-button {
  color: #ccc;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 15px;

  display: flex;
  align-items: center;
}

.username-button img {
  height: 10px;
  -webkit-filter: invert(90%);
  margin-left: 5px;
}

.username-button:hover {
  cursor: pointer;
  color: #fff;
}

.down-caret {
  color: #ccc;
  margin: 5px;
  padding: 5px;
  font-size: 5px;
  font-weight: bold;
}

.break {
  height: 1px;
  width: 100%;
  border: 1px solid #eee;
}

.username-button-dropdown {
  color: #ccc;
  position: absolute;
  top: 55px;
  left: 30px;
  background-color: #fff;
  padding: 15px;
  width: 300px;
  box-shadow: 0 0 3px #ccc;
  border-radius: 2px;
  z-index: 10;

  display: none;
}

.username-button-dropdown p {
  color: #333;
  padding: 5px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}

.username-button-dropdown h2 {
  color: #000;
  padding: 5px;
  margin-top: -5px;
}

.username-button-dropdown-buttons {
  color: #111;
  padding: 5px;
}

.username-button-dropdown-buttons:hover {
  background-color: #eee;
  cursor: pointer;
}

.search-bar {
  width: 100%;
  height: 30px;
  border-radius: 4px;
  padding: 5px;
  border: 0px;
  background-color: #555;
  color: white;
  margin-bottom: 15px;
}

.search-bar::placeholder {
  color: #ccc;
}

.new-note-cluster {
  width: 100%;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  height: 35px;
  margin-top: 10px;

  display: flex;
}

.generic-new-note-button {
  width: 85%;
  text-align: left;
  font-size: 15px;
  padding-left: 20px;
  background-color: #21b546;
  border: 0px;
  color: #ddd;
  font-weight: 500;
}

.generic-new-note-button:hover {
  background-color: #21a546;
  cursor: pointer;
}

.new-note-dropdown-button {
  width: 15%;
  background-color: #1c9438;
  border: 0px;
  color: #ccc;
  font-weight: 700;
  position: relative;
}

.new-note-dropdown-button:hover {
  background-color: #1c6438;
  cursor: pointer;
}

.new-note-dropdown-button img {
  height: 20px;
  -webkit-filter: invert(100%);
  padding-top: 3px;
}

.sidebar-buttons {
  width: 100%;
  margin: 5px;
  margin-top: 20px;
  color: #ccc;
  position: relative;
  overflow: scroll;
}

.side-button {
  left: -10px;
  width: 100%;
  color: #ccc;
  padding: 5px 20px;
  position: relative;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.side-button:hover {
  background-color: #555;
  color: white;
  cursor: pointer;
}

.side-button-active {
  background-color: #777;
  color: white;
}

.side-button-active:hover {
  background-color: #777;
  color: white;
}

.side-image {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  -webkit-filter: invert(100%);
  background: none;
}

.side-image:hovel {
  background: none;
}

.right-arrow {
  -webkit-filter: invert(100%);
  height: 15px;
  position: absolute;
  left: -2px;
  top: 37px;
  z-index: 5;
  display: none;
}

.right-arrow:hover {
  cursor: pointer;
}

.down-arrow {
  -webkit-filter: invert(100%);
  height: 15px;
  position: absolute;
  left: -2px;
  top: 37px;
  z-index: 5;
  display: none;
}

.down-arrow:hover {
  cursor: pointer;
}

.notebook-dropdown {
  display: none;
  padding: 5px 0px;
  padding-bottom: 10px;
}

.sub-dd {
  font-size: 12px;
  padding-left: 40px;
}

.sub-dd img {
  height: 12px;
  margin-right: 5px;
  -webkit-filter: invert(100%);
}

.visible {
  display: block;
}

.da-nbi, .ra-nbi {
  -webkit-filter: invert(0%);
  top: 17px;
  left: 3px;
}
