
.session-page {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  height: 100vh;
  width: 100vw;
  background-color: #F1FCF7;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  height: 650px;
  width: 500px;
  box-shadow: 0 0 3px #ccc;
  position: relative;
  border-radius: 5px;
  background-color: white;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.session-logo {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  height: 60px;
  width: auto;
  margin-bottom: 15px;
  position: relative;
  top: 0px;
}

.signup-form h2 {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  margin-bottom: 40px;
}

.signup-form p {
  margin-bottom: 40px;
}

.signup-form input {
  font-family: 'Montserrat', sans-serif;
  height: 50px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 10px;
  font-size: 16px;
}

.signup-form form {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.session-button {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  background-color: green;
  color: white;
}

.session-button:hover {
  cursor: pointer;
  background-color: #7b7;
}

.demo-button {
  font-family: 'Montserrat', sans-serif;
  height: 50px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 10px;
  font-size: 16px;
  margin: 0 auto;
  margin-top: -20px;
  margin-bottom: 20px;
  background-color: green;
  color: white;
}

.demo-button:hover {
  cursor: pointer;
  background-color: #7b7;
}

.t-and-c {
  font-size: 10px;
  width: 300px;
  text-align: center;
}

.change-session {
  text-decoration: none;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.change-session-button {
  text-decoration: none;
  color: green;
}

.or {
  text-align: center;
  width: 80%;
  height: 0.5px;
  border: 1px solid #eee;
  margin-top: -10px;
  margin-bottom: 10px;
  position: relative;
}

.session-return-to-front {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.session-error {
  color: red;
  position: absolute;
  font-size: 10px;
  top: 121px;  
}
