
.tag-index {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  height: 100vh;
  width: calc( 100vw - 225px );
  border: 1px solid black;
  padding: 30px;
  overflow: scroll;

  display: flex;
  flex-direction: column;
}

.tag-index-head {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  margin-bottom: 35px;

  display: flex;
  justify-content: space-between;
}

.tag-index-head h2 {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  font-size: 20px;
  font-weight: 500;
}

.tag-index-head input {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  border-radius: 3px;
  border: 1px solid gray;
  height: 30px;
  width: 200px;
  padding: 5px;
}

.tag-index-table-head {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tag-index-table-head h3 {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  font-weight: 500;
}

.tag-index-table-head-buttons {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;

  display: flex;
}

.new-tag-button {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  height: 25px;
  margin-right: 0px;
  border-radius: 3px;
  padding: 5px;

  display: flex;
  align-items: center;
}

.new-tag-button img {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  height: 17px;
}

.new-tag-button:hover {
  cursor: pointer;
  background-color: #9e9;
  box-shadow: 0 0 3px #ccc;
}

.tag-index-break-bar {
  border-top: 3px solid black;
  margin-top: 20px
}

.tag-table {
  padding: 10px;
}

.tag-head-letter {
  font-weight: 600;
  font-size: 17px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.tag-index-item {
  font-weight: 500;
  text-decoration: none;
  font-weight: 14px;
  width: 125px;
  color: black;
  margin: 5px 0px;
  padding: 2px 5px;
  border-radius: 11px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tag-index-item:hover {
  background-color: #ededed;
}

.tag-index-item:hover span>img {
  -webkit-filter: invert(0%);
}

.tag-dropdown-holder {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  position: absolute;
  z-index: 10;

  right: -75px;
  top: -10px;
}

.tag-actions-dropdown {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  color: #ccc;
  position: absolute;
  top: 27px;
  left: -75px;
  background-color: #fff;
  padding: 15px;
  width: 200px;
  box-shadow: 0 0 3px #ccc;
  border-radius: 2px;
  z-index: 10;

  display: none;
}

.tag-actions-dropdown p {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  color: #555;
  padding: 5px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 10px;
}

.tag-index-item-link {
  text-decoration: none;
  color: black;
}

.tag-dropdown-button img {
  height: 10px;
  -webkit-filter: invert(100%);
}

.tag-dropdown-button img:hover {
  cursor: pointer;
}

.tag-dropdown-buttons {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  color: #111;
}

.update-tag-button, .destroy-tag-button {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  padding: 10px;
  margin: -5px;
}

.update-tag-button:hover, .destroy-tag-button:hover {
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  cursor: pointer;
  background-color: #eee;
}

.visible {
  display: block;
}
